params {
    //--------------------------------------------------------------------------
    // Inputs
    //--------------------------------------------------------------------------
    modbam            = null                // Path to modBAM file output by mod caller
    mod_type          = null                // Type of modification
    modkit            = null                // Path to modkit executable
    fasta             = null                // Reference fasta file for modkit
    ground_truth      = null                // Ground truth modification sites
    filter_thresholds = [0.5, 0.75, 0.9,
                         0.95, 0.99,
                         0.995, default]    // Modkit --filter_threshold values to test
    mod_thresholds    = [0.5, 0.75, 0.9,
                         0.95, 0.99,
                         0.995, default]    // Modkit --mod_threshold values to test

    //--------------------------------------------------------------------------
    // Directories to write output to
    //--------------------------------------------------------------------------
    outdir_samtools   = "results/samtools"         // samtools outputs
    outdir_t2g        = "results/t2g"              // t2g outputs
    outdir_pileup     = "results/pileup"           // modkit pileup outputs
    outdir_pr         = "results/precision_recall" // Precision recall outputs
    outdir_params     = "results/compare_params    // Final comparison outputs

    //--------------------------------------------------------------------------
    // Resources
    //--------------------------------------------------------------------------
    default_cpus      = 1                   // Default CPUs to request per process
    default_memory    = '8GB'               // Default memory to request per process
    default_time      = '1h'                // Default time to request per process
    filter_cpus       = 8                   // Default CPUs to request for samtools filter
    sort_cpus         = 8                   // Default CPUs to request for samtools sort
    index_cpus        = 4                   // Default CPUs to request for samtools index
    pileup_cpus       = 8                   // Default CPUs to request for modkit pileup
    pileup_memory     = '30GB'              // Default memory to request for modkit pileup
    pileup_time       = '1h'                // Default time to request for modkit pileup
    t2g_memory        = '30GB'               // Default memory to request for t2g
    t2g_disk          = '5GB'               // Default job filesystem disk space to request for t2g
    hpc_queue         = 'normal'            // User to override this if running in HPC environ
    hpc_project       = 'abc'               // User to override this if running in HPC environ
    hpc_storage       = 'storage/path'      // User to override this if running in HPC environ
}

profiles {
    local {
        includeConfig 'profiles/local.config'
    }

    slurm {
        includeConfig 'profiles/slurm.config'
    }

    pbs {
        includeConfig 'profiles/pbs.config'
    }

    pbspro {
        includeConfig 'profiles/pbspro.config'
    }

    // default profile
    standard {
        includeConfig 'profiles/standard.config'
    }
}