params {
    modbam            = null            // Path to modBAM file output by mod caller
    mod_type          = null            // Type of modification
    modkit            = null            // Path to modkit executable
    fasta             = null            // Reference fasta file for modkit
    ground_truth      = null            // Ground truth modification sites
    filter_thresholds = [0.99, 0.995]   // filter_threshold values to test
    mod_thresholds    = [0.99, 0.995]   // mod_threshold values to test
    outdir            = "results"       // Where to write results
    pileup_cpus       = 8               // Default CPU count for modkit pileup
}

profiles {
    local {
        process.executor = 'local'
        params.pileup_cpus = 2
        conda.enabled = true
    }

    slurm {
        process.executor = 'slurm'
        process.queue = 'general'
        conda.enabled = false
    }

    pbs {
        process.executor = 'pbs'
        conda.enabled = false
    }

    // default profile
    standard {
        process.executor = 'local'
        params.pileup_cpus = 2
        conda.enabled = true
    }
}